@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .footer-link {
        @apply text-white font-bold text-2xl duration-300 transition-all ease-in-out w-fit
        dark:text-light-green dark:hover:text-white
        hover:translate-x-2 hover:text-light-green
    }
    .social-media-icon {
        @apply flex items-center justify-center border border-light-green text-light-green rounded-full text-3xl h-14 w-14 duration-200 transition-all ease-in-out
        hover:bg-white
        dark:hover:bg-light-green dark:hover:text-earie-black
    }
}