.pop-up-container {
    position: absolute;
    bottom: 20px;
    right: 20px;

    .notification {
        &.success {
            background-color: #00FF00;
            color: #FFF;
        }
        &.error {
            background-color: #FF0000;
        }
    }
}